:root {
  --device-color: #808080;
  font-family: "Orbitron", sans-serif;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--device-color);
  padding: 2rem;
  height: 100vh;
}

button {
  width: 20%;
  padding: 0.5rem 0;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

p {
  max-width: 16ch;
}

.arrow-btns {
  display: flex;
  grid-area: "nav";
}

.arrow {
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 16px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#information {
  background-color: #c0c0c0;
  border-radius: 10px;
  padding: 1rem 3rem 3rem 0.3rem;
  overflow: scroll;
  grid-area: "info";
}

#account {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.account-btn {
  background-color: #87ceeb;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
}

.account-btn:hover {
  background-color: #a7d8eb;
}

#search-btn {
  display: flex;
  justify-content: center;
  background-color: #fcab8b;
  border: 1px solid #c0c0c0;
  padding: 1rem 3rem;
  border-radius: 50px;
  grid-area: "search";
}

#search-btn:hover {
  background-color: #f3baa3;
}

img {
  border: 3px solid #fff;
  border-radius: 10px;
  margin-bottom: 2rem;
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: "portrait";
}

.top-container {
  display: grid;
  gap: 8px;
  grid-template-areas:
    "portrait"
    "info";
  margin-bottom: 2rem;
}

.mid-container {
  display: grid;
  grid-template-areas: "nav search";
  justify-items: center;
}

#modal form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcab8b;
}

.btn-container {
  display: flex;
}

@media (width >= 40em) {
  :root {
    font-size: 1.5rem;
  }
  main {
    padding: 2rem;
  }
  .top-container {
    grid-template-areas: "portrait info";
    justify-content: center;
    gap: 10px;
  }
  .mid-container {
    justify-content: space-evenly;
  }
  #search-btn {
    font-size: 1.2rem;
  }
  .arrow {
    border-width: 0 12px 12px 0;
    padding: 24px;
  }
  #account {
    justify-content: space-evenly;
  }
  .account-btn {
    font-size: 1.2rem;
    border: black 10px solid;
  }
}
