{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'pages/base.css' %}"
    />
    <title>Document</title>
  </head>
  <body>
    <main id="home-main">
      <h1>Welcome to Critter Ritter!</h1>
      <h2>Record and share all the critters you see!</h2>
      <label for="signup-btn">Sign up today!</label>
      <button id="signup-btn" type="button">Sign up</button>
    </main>
    <nav>
      <ul id="home-nav">
        <li>Sign up</li>
        <li>Log in</li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li>Terms</li>
      </ul>
    </nav>
  </body>
</html>
